<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">

    <title>
        {% block title %}Au bonheur du palais{% endblock %}
    </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path("aliment_view_all") }}">aliments-en-folie.fr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Aliments
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path("aliment_view_all") }}">Liste</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('admin_aliment_view_all') }}">Administration</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Types
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path("type_view_all") }}">Liste</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('admin_type_view_all') }}">Administration</a>
                    {% endif %}
                </div>
            </li>
        </ul>

        <ul class="navbar-nav justify-content-end">
            {% if not app.user %}

                <li class="nav-item">
                    <a href="{{ path('security_login') }}" class="nav-link">Connexion</a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('security_signup') }}" class="nav-link">Inscription</a>
                </li>

            {% else %}

                <li class="nav-item">
                    <a href="{{ path('index') }}" class="nav-link nav-welcome">
                        Bonjour {{ app.user.username }} !
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('security_logout') }}" class="nav-link">Déconnexion</a>
                </li>

            {% endif %}


        </ul>
    </div>
</nav>

<h1 class="p-2 m-2">
    {% block monTitre %}{% endblock %}
</h1>



{% block body %}{% endblock %}


<div class="container">

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 and behond copyright:
            <a href="https://ms2i.net" target="_blank"> Noël MAURICE</a>
        </div>
        <!-- Copyright -->

    </footer>


</div>

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
{% endblock %}

</body>
</html>
